.jumbotron {
 	padding-top: 5rem;
  	background-image: url('img/sky.jpg');

  	background-size: cover;

	height: 450px;
}

#galery {
  background: #e2edff;
}

section {
  padding-top: 5rem;
}
